* {
    inset: 0;
    margin: 0;
    padding: 0;

    --theme-primary: #ff4c05;
    --theme-secondary: #FCFF4B;
    --theme-accent: #7CAFC4;
    --theme-surface: #040b89;

    --theme-primary-content: #044389;
    --theme-secondary-content: #FFFFFF;
    --theme-accent-content: #FFFFFF;
    --theme-surface-content: #FFFFFF;

    /* background: var(--theme-surface          ); */
    color: var(--theme-surface-content);
}

@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Cedarville+Cursive&family=Noto+Sans+Egyptian+Hieroglyphs&family=Oooh+Baby&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background: var(--theme-surface);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pfp {
    width: 350px;
    height: 200px;
}

.bg-primary {
    background: var(--theme-primary);
}

.bg-secondary {
    background: var(--theme-secondary);
}

.bg-accent {
    background: var(--theme-acent)
}

.bg-surface {
    background: var(--theme-surface);
}

.text-primary {
    color: var(--theme-primary);
}

.text-secondary {
    color: var(--theme-secondary);
}

.text-accent {
    color: var(--theme-accent);
}

.text-surface {
    color: var(--theme-surface);
}

.w-dvw {
    width: 100dvw;
}

.h-dvh {
    height: 100dvh;
}

.about-text {
    width: 750px;
}

.big-boy {
    font-size: 90px;
}